<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaostudy.shiro_test1.mapper.TestRedisMapper">

    <select id="selectAll" resultType="com.xiaostudy.shiro_test1.entity.TestRedisEntity" >
      SELECT id, name, password
        FROM test_redis;
    </select>

    <select id="selectPages" parameterType="java.lang.Integer" resultType="com.xiaostudy.shiro_test1.entity.TestRedisEntity" >
      SELECT id, name, password
        FROM test_redis limit #{page}, #{rows};
    </select>

    <select id="selectTotal" resultType="java.lang.Integer" >
      SELECT COUNT(*) as total FROM test_redis;
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.xiaostudy.shiro_test1.entity.TestRedisEntity">
      SELECT id, name, password
        FROM test_redis
          WHERE id = #{id};
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultType="com.xiaostudy.shiro_test1.entity.TestRedisEntity">
      SELECT id, name, password
        FROM test_redis
          WHERE name = #{name};
    </select>

    <insert id="insert" parameterType="com.xiaostudy.shiro_test1.entity.TestRedisEntity" >
        insert into test_redis (name, password) value (#{name}, #{password});
    </insert>

    <update id="update" parameterType="com.xiaostudy.shiro_test1.entity.TestRedisEntity" >
        update test_redis
            set
            name = #{name},
            password = #{password}
            where
            id = #{id};
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer" >
        delete from test_redis
            where
             id = #{id};
    </delete>

    <delete id="deleteByName" parameterType="java.lang.String" >
        delete from test_redis
            where
             name = #{name};
    </delete>

</mapper>
